[submodule "XBai/vendor/spdlog"]
	path = XBai/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "XBai/vendor/GLFW"]
	path = XBai/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "XBai/vendor/imgui"]
	path = XBai/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "XBai/vendor/glm"]
	path = XBai/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "XBai/vendor/yaml-cpp"]
	path = XBai/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "XBai/vendor/ImGuizmo"]
	path = XBai/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
